<!DOCTYPE html>

<html>
    <head>
        <title>PTCamping</title>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-success" style='border-bottom: 3px solid green'>
  
    <div class="container">
      
          <a class="navbar-brand" href="/">PTCamping</a>
            
            <ul class="navbar-nav">
              
              
              <li class="nav-item">
                <a class="nav-link" href="#">Entrar</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Registar</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Sair</a>
              </li>
      
            </ul>
        </div>
</nav>
        
        
