<!DOCTYPE html>
<html>
    <head>
        <title>TentLife</title>
         <link rel="stylesheet" href="/stylesheets/landing.css">
           <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    </head>
    <body>
        

        
         <div class="main-img">
            
           <div class="overlay">
                <div class="main-text">
                    
     	        	<h1 class=""> Welcome to TentLife! </h1>
    	        	<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
        
                </div>
        </div>
        
    </div>
       